<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>test4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Demo04</display-name>
    <servlet-name>Demo04</servlet-name>
    <servlet-class>com.ttt.servlet.Demo04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo04</servlet-name>
    <url-pattern>/Demo04</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo05</display-name>
    <servlet-name>Demo05</servlet-name>
    <servlet-class>com.ttt.servlet.Demo05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo05</servlet-name>
    <url-pattern>/Demo05</url-pattern>
  </servlet-mapping>
</web-app>